body{
    background-color: #212121;
}

.custom-loader {
width: 120px;
height: calc(0.866*120px);
color:#dfe6e9;
display: grid;
animation: sp8-0 3s infinite linear;
margin: 0 auto;
margin-top: 20%;
}

.custom-loader:before,
.custom-loader:after {
content: "";
grid-area: 1/1;
}
.custom-loader:before {
clip-path: polygon(25% 0,75% 0,100% 50%,75% 100%,25% 100%,0 50%);
background: conic-gradient(from -30deg,#0000 60deg,currentColor 0);
}
.custom-loader:after {
background: conic-gradient(from -30deg,currentColor 60deg,#0000 0);
animation: sp8 0.25s infinite alternate;
}

@keyframes sp8-0 {
0%,16.66%     {transform: rotate(0deg)}
16.67%,33.33% {transform: rotate(60deg)}
33.34%,50%    {transform: rotate(120deg)}
50.1%,66.66%  {transform: rotate(180deg)}
66.67%,83.33% {transform: rotate(240deg)}
83.34%,100%   {transform: rotate(300deg)}
}

@keyframes sp8 {
100%  {transform: translateY(-20px)}
}

@media (max-width:500px) {
    .custom-loader {
        
        
        margin-top: 48%;
        }
}
@media (max-width:600px) {
    .custom-loader {
        
        
        margin-top: 48%;
        }
}
@media (max-width:700px) {
    .custom-loader {
        margin-top: 48%;
        }
}
@media (max-width:800px) {
    .custom-loader {
        margin-top: 48%;
        }
}
@media (max-width:900px) {
    .custom-loader {
        margin-top: 48%;
        }
}