@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* 
{
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
    color: #dfe6e9;
    background-color: #212121
};


h1{
    text-align: center;
    padding: 10px;
}
.container 
{
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    box-shadow: 0 10px 40px -10px #695f5f;

}
input 
{
    padding: 10px;
    border: 1px solid #dfe6e9;
    background: #212121;
    width: 40%;
    font-size: 25px;
    margin-left: 25%;

}
.display_images{
    width: 80%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:30px;
}
.display_images img 
{
    width: 90%;
    border-radius: 5px;
    height: 240px;
    cursor: pointer;
}


figcaption
{
    font-weight: bold;
    font-size: 15px;
}
button{
    background-color: #13c4a5;
    color: #dfe6e9;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #dfe6e9;
    color: #13c4a5;
}
.showmore{
    margin: 0 auto;
    display: block;
}