@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
  background-color: #212121;
}

.widget {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    padding: 20px;
    background: #FFFEFF;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.date, .precipitation{
    font-family: 'Montserrat', sans-serif;
}
.city {
    font-family: 'Courier Prime', monospace;
    font-size: 115%;
    font-weight: 500;
    margin-left: -10px;
}

.temperature {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
    /* margin-left: 22px; */
}

  /* timezone */
  .country .date {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 18px; */
    /* font-style: italic; */
    text-align: center;
    color: #000000;
  }
  .country .time {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 20px; */
    /* text-align: center; */
    color: #000000;
    display: flex;
    float: left;
  }
  .time-detail{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    /* font-size: 20px; */

    float: right;
    color: #000000;
  }
  /* footer */
.footer-coffee{
  position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    width: 300px;
    /* height: 300px; */
    padding: 20px;
    background: #FFFEFF;
    border-radius: 20px;
    /* box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width:500px){
  
}